# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv('../WeatherPY/city_weather.csv')
weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Bluff,41,NZ,1594928227,88,-46.60,168.33,37.80,10.36
1,1,Klyuchi,58,RU,1594928227,78,52.27,79.17,67.42,12.28
2,2,Carquefou,20,FR,1594928227,64,47.30,-1.49,71.60,6.93
3,3,Ushuaia,0,AR,1594928140,90,-54.80,-68.30,33.80,3.36
4,4,Bredasdorp,0,ZA,1594928089,93,-34.53,20.04,46.40,3.36

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key="AIzaSyAQH-CyMmDuoT489iq131uf79nQ2iywzQQ")
lat_lon = weather_df[['Lat', 'Lng']]
lat_lon.head()

     Lat     Lng
0 -46.60  168.33
1  52.27   79.17
2  47.30   -1.49
3 -54.80  -68.30
4 -34.53   20.04

In [4]:
humid = weather_df["Humidity"]

In [8]:
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(lat_lon, weights=humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)
# Add heat layer
fig.add_layer(heat_layer)

#Save fig
plt.savefig("Vacation_heatmap.png")

In [6]:
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
# Create criteria for the perfect vacation climate
# A max temperature lower than 80 degrees but higher than 70.
crit_temperature = (weather_df['Max Temp'] < 80) & (weather_df['Max Temp'] > 70)
crit_windSpeed = weather_df['Wind Speed'] < 15
crit_cloudiness = weather_df['Cloudiness'] == 0
final_criteria = crit_temperature & crit_windSpeed & crit_cloudiness 

# Use boolean indexing to filter the weather_df dataframe
ideal_weather_df = weather_df[final_criteria]
ideal_weather_df = ideal_weather_df.dropna()
ideal_weather_df = ideal_weather_df.reset_index()
ideal_weather_df.head

<bound method NDFrame.head of     index  Unnamed: 0          City  Cloudiness Country        Date  Humidity  \
0      67          68    Marsaxlokk           0      MT  1594928235        83
1      94          95        Filoti           0      GR  1594928239        69
2     122         123       Tigzirt           0      DZ  1594928242        77
3     186         189         Afşin           0      TR  1594928250        56
4     209         215   San Quintín           0      MX  1594928253        65
5     230         236      Bac Lieu           0      VN  1594928256        84
6     236         242    Assiniboia           0      CA  1594928257        34
7     281         289  Qaryat Sulūq           0      LY  1594928262        64
8     321         330     Manokwari           0      ID  1594928267        71
9     330         339   Al Bardīyah           0      LY  1594928268        81
10    352         361         Korla           0      CN  1594927685        79
11    376         385       Ternate           0      ID  1594928274        77
12    379         388        Lucapa           0      AO  1594927717        25
13    486         497    Alexandria           0      EG  1594928292        61
14    500         512      Vallenar           0      CL  1594928294        17
15    510         522        Lipari           0      IT  1594928296        73
16    542         554    Phan Thiet           0      VN  1594928097        85

      Lat     Lng  Max Temp  Wind Speed
0   35.84   14.54     78.01        9.17
1   37.05   25.50     75.00        3.36
2   36.89    4.12     73.65       13.18
3   38.25   36.91     71.13        3.20
4   30.48 -115.95     73.49       14.43
5    9.29  105.72     79.57        3.22
6   49.63 -105.98     78.46        8.37
7   31.67   20.25     75.63        8.68
8   -0.87  134.08     78.84        4.41
9   31.76   25.09     74.55       14.58
10  41.76   86.15     77.00        5.01
11   0.80  127.40     79.45        3.49
12  -8.42   20.74     70.77        4.36
13  31.22   29.96     78.80       11.41
14 -28.57  -70.76     76.95        4.94
15  38.47   14.95     79.00        4.00
16  10.93  108.10     77.27        4.25  >

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
#Store into variable named hotel_df.
#Add a "Hotel Name" column to the DataFrame.
hotel_df = ideal_weather_df
# Add column for Hotel Name - Note that we used "" to specify initial entry.
hotel_df['Hotel Name'] = ""
hotel_df.head()

,index,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,67,68,Marsaxlokk,0,MT,1594928235,83,35.84,14.54,78.01,9.17,
1,94,95,Filoti,0,GR,1594928239,69,37.05,25.50,75.00,3.36,
2,122,123,Tigzirt,0,DZ,1594928242,77,36.89,4.12,73.65,13.18,
3,186,189,Afşin,0,TR,1594928250,56,38.25,36.91,71.13,3.20,
4,209,215,San Quintín,0,MX,1594928253,65,30.48,-115.95,73.49,14.43,

In [11]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "Hotel",
    "key": g_key
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    latitude = row['Lat']
    longitude = row['Lng']
    city = row['City']
    country = row['Country']

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(f"https://maps.googleapis.com/maps/api/place/textsearch/json?location={latitude},{longitude}&radius=5000&type=hotel&key={g_key}").json()
    
    # extract results
    results = response['results']
    
    try:
        hotelname = response['results'][7]['name']
        print(f"Closest hotel to {city} at {latitude} , {longitude} is {hotelname}.")
        
        hotel_df.loc[index, "Hotel Name"] = hotelname
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: Marsaxlokk.
Closest hotel to Marsaxlokk at 35.84 , 14.54 is Sensi Hotel.
------------
Retrieving Results for Index 1: Filoti.
Closest hotel to Filoti at 37.05 , 25.5 is Nicolas Restaurant.
------------
Retrieving Results for Index 2: Tigzirt.
Closest hotel to Tigzirt at 36.89 , 4.12 is Mizrana Production.
------------
Retrieving Results for Index 3: Afşin.
Closest hotel to Afşin at 38.25 , 36.91 is Yapı Kredi Bankası - Afşin Şubesi.
------------
Retrieving Results for Index 4: San Quintín.
Closest hotel to San Quintín at 30.48 , -115.95 is Don Eddie's Sport Fishing Center.
------------
Retrieving Results for Index 5: Bac Lieu.
Closest hotel to Bac Lieu at 9.29 , 105.72 is Palace Hotel 2.
------------
Retrieving Results for Index 6: Assiniboia.
Closest hotel to Assiniboia at 49.63 , -105.98 is RBC Royal Bank.
------------
Retrieving Results for Index 7: Qaryat Sulūq.
Closest hotel to Qaryat Sulūq at 31.67 , 20.25 is محطة كهرباء المكتب القديمة.
------------
Retrieving Results for Index 8: Manokwari.
Closest hotel to Manokwari at -0.87 , 134.08 is Salon OASIS.
------------
Retrieving Results for Index 9: Al Bardīyah.
Closest hotel to Al Bardīyah at 31.76 , 25.09 is محلات عبدالله بوحوا التجارية.
------------
Retrieving Results for Index 10: Korla.
Closest hotel to Korla at 41.76 , 86.15 is Huajing Garden.
------------
Retrieving Results for Index 11: Ternate.
Closest hotel to Ternate at 0.8 , 127.4 is Optik Melawai - Jatiland Business Center Ternate Maluku.
------------
Retrieving Results for Index 12: Lucapa.
Closest hotel to Lucapa at -8.42 , 20.74 is Residência da Esperança Zezinha Sonhe.
------------
Retrieving Results for Index 13: Alexandria.
Closest hotel to Alexandria at 31.22 , 29.96 is Diana Hotel Hurghada.
------------
Retrieving Results for Index 14: Vallenar.
Closest hotel to Vallenar at -28.57 , -70.76 is Hospedaje Stylo.
------------
Retrieving Results for Index 15: Lipari.
Closest hotel to Lipari at 38.47 , 14.95 is Arciduca Grand Hotel.
------------
Retrieving Results for Index 16: Phan Thiet.
Closest hotel to Phan Thiet at 10.93 , 108.1 is Đại Lý Sơn Sơn Thảo.
------------

Retrieving Results for Index 0: Marsaxlokk.
Closest hotel to Marsaxlokk at 35.84 , 14.54 is Sensi Hotel.
------------
Retrieving Results for Index 1: Filoti.
Closest hotel to Filoti at 37.05 , 25.5 is Nicolas Restaurant.
------------
Retrieving Results for Index 2: Tigzirt.
Closest hotel to Tigzirt at 36.89 , 4.12 is Mizrana Production.
------------
Retrieving Results for Index 3: Afşin.
Closest hotel to Afşin at 38.25 , 36.91 is Yapı Kredi Bankası - Afşin Şubesi.
------------
Retrieving Results for Index 4: San Quintín.
Closest hotel to San Quintín at 30.48 , -115.95 is Don Eddie's Sport Fishing Center.
------------
Retrieving Results for Index 5: Bac Lieu.
Closest hotel to Bac Lieu at 9.29 , 105.72 is Palace Hotel 2.
------------
Retrieving Results for Index 6: Assiniboia.
Closest hotel to Assiniboia at 49.63 , -105.98 is RBC Royal Bank.
------------
Retrieving Results for Index 7: Qaryat Sulūq.
Closest hotel to Qaryat Sulūq at 31.67 , 20.25 is محطة كهرباء المكتب القديمة.
------------
Retrieving Results for Index 8: Manokwari.
Closest hotel to Manokwari at -0.87 , 134.08 is Salon OASIS.
------------
Retrieving Results for Index 9: Al Bardīyah.
Closest hotel to Al Bardīyah at 31.76 , 25.09 is محلات عبدالله بوحوا التجارية.
------------
Retrieving Results for Index 10: Korla.
Closest hotel to Korla at 41.76 , 86.15 is Huajing Garden.
------------
Retrieving Results for Index 11: Ternate.
Closest hotel to Ternate at 0.8 , 127.4 is Optik Melawai - Jatiland Business Center Ternate Maluku.
------------
Retrieving Results for Index 12: Lucapa.
Closest hotel to Lucapa at -8.42 , 20.74 is Residência da Esperança Zezinha Sonhe.
------------
Retrieving Results for Index 13: Alexandria.
Closest hotel to Alexandria at 31.22 , 29.96 is Diana Hotel Hurghada.
------------
Retrieving Results for Index 14: Vallenar.
Closest hotel to Vallenar at -28.57 , -70.76 is Hospedaje Stylo.
------------
Retrieving Results for Index 15: Lipari.
Closest hotel to Lipari at 38.47 , 14.95 is Arciduca Grand Hotel.
------------
Retrieving Results for Index 16: Phan Thiet.
Closest hotel to Phan Thiet at 10.93 , 108.1 is Đại Lý Sơn Sơn Thảo.
------------

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# Add marker layer ontop of heat map
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px'    
}

fig = gmaps.figure(layout=figure_layout)

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]
)

# Add layer
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)


# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', padding='1px', width='400px'))

In [15]:
#Save the figure
plt.savefig("Hotelsheatmap.png")